{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <!-- Main info -->
    <div class="container-fluid">
        <div class="row py-5 bg-dark">
            <div class="write-me fs-1 text-white text-center">
                Write me
            </div>
        </div>
    </div>

    <!-- Breadcrumbs & Contact Form -->

    <div class="container-fluid ">
        <div class="row px-md-4 justify-content-center">
            <div class="col-12 col-md-8">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-2 breadcrumb-bg mt-5 mb-5  ">
                        <li class="breadcrumb-item ms-3"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item"><a href="#">Библиотека</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Данные</li>
                    </ol>
                </nav>

                <div class="contact-me fs-3 mb-3">
                    To contact me, fill out the feedback form
                </div>

                <form action="" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0 pb-3 pb-md-0">
                                <label for="name" class="sr-only">Your name</label>
                                <input type="text" id="name" class="form-control" placeholder="Your name">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="email" class="sr-only">Your email</label>
                                <input type="text" id="email" class="form-control" placeholder="Your email">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <label for="subject" class="sr-only">Theme</label>
                                <input type="text" id="subject" class="form-control" placeholder="Theme">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3 mb-4">
                        <div class="col-md-12">
                            <div class="md-form">
                                <label for="message" class="sr-only">Message</label>
                                <textarea type="text" id="message" rows="4" class="form-control "
                                          placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-md-left my-3">
                        <button class="btn btn-success btn-lg" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}