{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <!-- Main info -->
    <div class="container-fluid ">
        <div class="row px-md-4">
            <div class="col-sm-12 col-md-8">

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-2 breadcrumb-bg mt-3">
                        <li class="breadcrumb-item ms-3"><a href="{% url 'blog:index' %}">Main</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ object.h1 }}</li>
                    </ol>
                </nav>
                <img src="{{ object.image.url }}" alt="" class="main-project-img mb-2">

                <hr>
                <!-- Description -->
                <div class="main-text mb-4">
                    {{ object.description|linebreaks }}
                </div>
                <div class="other-text mb-2">
                    {{ object.content|linebreaks }}
                </div>
                <hr>
                <div class="author-project text-end">
                    Author : <a class="author-link" href="">{{ object.author|title }}</a>
                </div>
                <hr>
                <div class="publish-time text-end mb-4">
                    Published : {{ object.time_created|date:"M d, Y" }}
                </div>

                <!-- Making coment -->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="comment border-comment mb-4">
                        <div class="py-3 ps-3" id="MakeComment">Make comment:</div>
                        <div class="comment-form mt-3">
                            <div class="mb-3 px-3">
                                <label for="exampleFormControlTextarea1" class="form-label d-none">Example of text
                                    area</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                <button type="submit" class="btn btn-success mt-3">Send</button>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- People comment -->
                <div class="d-flex flex-column comment-section">
                    <div class="p-2">
                        <div class="d-flex flex-row user-info"><a href=""><img class="rounded-circle"
                                                                               src="{% static 'img/profile-photo.jpg' %}"></a>
                            <div class="d-flex flex-column justify-content-start me-2"><a
                                    class="d-block font-weight-bold name ps-3 author-name" href="">Marry
                                Andrews</a><span class="date text-black-50 ps-3">Shared publicly - Jan 2020</span></div>
                        </div>
                        <div class="mt-2">
                            <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>


            </div>

            <!-- Left Sidebar -->
            <div class="col-sm-12 col-md-4">

                <!-- Tags -->

                <div class="comment border-comment mb-4 mt-3">
                    <div class="py-3 ps-3" id="MakeComment">Tags:</div>
                    <div class="mb-3 px-3">
                        <div class="row mt-3">
                            {% for tag in object.get_tags %}
                                <div class="col-6">
                                    <a href="#" class="">{{ tag.tag }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <!-- Recent articles -->
                <div class="comment border-comment mb-4 mt-3">
                    <div class="py-3 ps-3" id="MakeComment">Recent articles:</div>

                    {% for recent_article in recent_articles %}
                        <div class="my-3 px-3 {% if forloop.last %}mb-0{% else %}recent-article mb-2{% endif %}">
                            <div class="article-title fs-4 mt-3">
                                {{ recent_article.title }}
                            </div>
                            <div class="article-content mt-2">
                                {{ recent_article.description|truncatewords:24 }}
                            </div>
                            <div class="article-link mt-2">
                                <a href="{% url 'blog:one_project' recent_article.slug %}"
                                   class="btn btn-outline-success mb-3">View</a>
                            </div>
                        </div>
                    {% endfor %}


                </div>

            </div>

        </div>
    </div>
{% endblock %}