{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <!-- Main info -->
    <div class="container-fluid">
        <div class="row py-5 bg-dark">
            <div class="write-me fs-1 text-white text-center">
                Search...
            </div>
        </div>
    </div>



    <div class="container-fluid ">
        <div class="row px-md-4">
            <div class="col-sm-12 col-md-8">

                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-2 breadcrumb-bg mt-3">
                        <li class="breadcrumb-item ms-3"><a href="{% url 'blog:index' %}">Main</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search</li>
                    </ol>
                </nav>

                <div class="find-articles fs-4 mb-4 mt-3">
                    Matches found : {{ count }}
                </div>

                {% for object in object_list %}
                    <div class="found-article">
                        <a href="{% url 'blog:one_project' object.slug %}" class="link-founded">{{ object.title }}</a>
                        <div class="description-article mt-2">
                            {{ object.description|truncatewords:30 }}
                        </div>
                        <hr>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- Paginator -->
    {% if page_obj.has_other_pages %}
        <div class="section mt-5">
            <div class="container">
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a
                                    class="page-link {% if not page_obj.has_previous %}disabled{% endif %}"
                                    href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><span
                                    class="color">&lt</span></a></li>
                            {% for p in paginator.page_range %}
                                <li class="page-item"><a
                                        class="page-link {% if page_obj.number == p %}active{% endif %}"
                                        href="?page=
                                                {{ p }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ p }}</a>
                                </li>
                            {% endfor %}
                            <li class="page-item"><a class="page-link {% if not page_obj.has_next %}disabled{% endif %}"
                                                     href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&gt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}