{% extends 'blog/base.html' %}
{% load socialaccount %}

{% block content %}
    <!-- Main info -->
    <div class="container-fluid">
        <div class="row py-5 bg-dark">
            <div class="write-me fs-1 text-white text-center">
                Sign Up
            </div>
        </div>
    </div>

    <!-- Breadcrumbs & Contact Form -->

    <div class="container-fluid">
        <div class="row px-md-4 justify-content-center">
            <div class="col-12 col-md-9">
                <div class="contact-me fs-3 my-5 text-center">
                    To get all the available features, please register
                </div>
                <form class="" method="post" action="">
                    <div class="row justify-content-between">

                        <div class="mb-3 col-md-6">
                            <label for="exampleFormControlInput1" class="form-label text-right">Enter your email</label>
                            <input type="email" class="form-control py-2" id="exampleFormControlInput1"
                                   placeholder="Name@example.com">
                        </div>
                        <div class="col-md-6">
                            <label for="inputUsername" class="form-label text-right">Enter your username</label>
                            <input class="form-control py-2" id="inputUsername" type="text"
                                   aria-describedby="usernameHelp" placeholder="Username"/>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="inputPassword" class="form-label">Enter your password</label>
                            <input type="password" id="inputPassword" class="form-control py-2" placeholder="Password"
                                   required="">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="ReInputPassword" class="form-label">Repeat the password</label>
                            <input type="password" id="ReInputPassword" class="form-control py-2" placeholder="Password"
                                   required="">
                        </div>
                        <div class="d-flex justify-content-center my-4">
                            <button class="btn btn-lg btn-success" type="submit">Sign Up</button>
                        </div>

{#                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">#}
{##}
{#                            <a href="{% provider_login_url 'google' %}?next=/">#}
{#                                <i class="fab fa-google fa-2x" style="color: #d9503e;"></i>#}
{#                            </a>#}
{#                            <a href="{% provider_login_url 'twitter' %}">#}
{#                                <i class="fab fa-twitter fa-2x" style="color: #4a658b;"></i>#}
{#                            </a>#}
{#                            <a href="{% provider_login_url 'github' %}">#}
{#                                <i class="fab fa-github fa-2x" style="color: #303030;"></i>#}
{#                            </a>#}
{#                            <a href="{% provider_login_url 'facebook' %}">#}
{#                                <i class="fab fa-facebook fa-2x" style="color: #405794;"></i>#}
{#                            </a>#}
{#                            l#}
{#                        </div>#}


                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}